{% extends 'mainapp/base.html'%}
{%load static%}

{%block 'content' %}
<main id="main">

    <div class="site-section pb-0 site-portfolio comment-center">
      <div class="container">

        <div class="row mb-5 align-items-end">
          <div class="col-md-8" data-aos="fade-up">
            <h2>Оставте отзыв на мою работу</h2>
            <p class="mb-0">
              Поделитесь своими эмоциями по поводу нашего сотрудничества, расскажите о плюсах и недостатках!
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up">

            <form action="#" method="post" role="form" class="php-email-form">

              <div class="row">
                <div class="col-md-12 form-group">

                  <label for="name">Имя</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>

                </div>
                <div class="col-md-12 form-group">

                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>

                </div>
                <div class="col-md-12 form-group">

                  <label for="name">Название проекта</label>
                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />

                    <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">

                  <label for="name">Комментарий</label>
                  <textarea class="form-control" name="message" cols="30" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>

                </div>
<!--                <div class="col-md-12 form-group">-->

<!--                  <label for="name">Фото</label>-->
<!--                  <input type="file" class="form-control" name="photo" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->

<!--                    <div class="validate"></div>-->
<!--                </div>-->
                <div class="col-md-12 form-group">

                  <div class="input__wrapper">
                     <input name="file" type="file" id="input__file" class="input input__file" multiple>
                     <label for="input__file" class="input__file-button">
                        <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{% static 'img/download.png' %}" alt="Выбрать файл" width="25"></span>
                        <span class="input__file-button-text">Выберите фото</span>
                     </label>
                  </div>
                </div>


<!--                <div class="col-md-12 mb-3">-->
<!--                    <div class="loading">Loading</div>-->
<!--                  <div class="error-message"></div>-->
<!--                  <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--                </div>-->

                <div class="col-md-12 form-group comment-bott">
                  <input type="submit" class="readmore d-block w-100" value="Оставить комментарий">
                </div>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>
  </main>
 <script>
    let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
      let label = input.nextElementSibling,
        labelVal = label.querySelector('.input__file-button-text').innerText;

      input.addEventListener('change', function (e) {
        let countFiles = '';
        if (this.files && this.files.length >= 1)
          countFiles = this.files.length;

        if (countFiles > 1)
          label.querySelector('.input__file-button-text').innerText = 'Выберете только 1 файл! ';
        else if (countFiles == 1)
          label.querySelector('.input__file-button-text').innerText = 'Файл выбран: ' + e.target.value.split( '\\' ).pop();
        else
          label.querySelector('.input__file-button-text').innerText = labelVal;
      });
    });
  </script>
{% endblock %}