{% extends 'mainapp/base.html'%}
{%load static%}
{% load crispy_forms_tags %}

{%block 'content' %}
<main id="main">

    <div class="site-section pb-0 site-portfolio comment-center">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-8" data-aos="fade-up">
            <h2>Оставте отзыв на мою работу</h2>
            <p class="mb-0">
              Поделитесь своими эмоциями по поводу нашего сотрудничества, расскажите о плюсах и недостатках!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up">
            <form action="/comment/create/" method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% crispy comment_form %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}