{% extends 'mainapp/base.html'%}
{%load static%}




{%block 'content' %}

  <main id="main">

    <div class="site-section pb-0 site-portfolio">
      <div class="container">

        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">
            <h2>Свяжитесь со мной</h2>
            <p class="mb-0">
              Вы можете написать мне письмо по поводу сотрудничества или задать свои вопросы прямо здесь!
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            
            <form action="{% url 'email' %}" method="post" role="form">
              
              <div class="row">
                <div class="col-md-6 form-group">
								{% csrf_token %}
								{{ name_form.as_p }}


                  <div class="form-error">{{ name_form.errors }}</div>

                </div>
                <div class="col-md-6 form-group">
                                {% csrf_token %}
								{{ email_form.as_p }}

                  <p>{{ email_form.email.errors }}</p>

                                    <div class="form-error">{{ email_form.name.errors }}</div>

                </div>
                <div class="col-md-12 form-group">
                                  {% csrf_token %}
								{{ subject_form.as_p }}

                     <div class="form-error">{{ subject_form.name.errors }}</div>

                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                                  {% csrf_token %}
								{{ message_form.as_p }}

                             <div class="form-error">{{ message_form.name.errors }}</div>

                </div>


                <div class="col-md-6 form-group">
                  <input type="submit" class="readmore d-block w-100" value="Отправить письмо">
                </div>
              </div>

            </form>

          </div>

          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <ul class="list-unstyled">
              <li class="mb-3">
                <strong class="d-block mb-1">Адрес:</strong>
                <span>Россия, г.Москва, м.Некрасовка</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Телефон:</strong>
                <span>+7 (910)099-69-39</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Email:</strong>
                <span>polina2000_21@mail.ru</span>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </main>
  {% endblock %}