{% extends 'mainapp/base.html'%}
{%load static%}



{%block 'content' %}
<main id="main">

    <div class="site-section pb-0 site-portfolio">
        <div class="container">

            <div class="row">
                <div class="col-md-4 ml-auto order-2 bottom-top" data-aos="fade-up">
                    <h2><a href="{% url 'works' %}" class="h3 mb-4 bord-bot">Мои работы 	&rarr;</a></h2>

                </div>

                <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
                    <h2>Обо мне</h2>
                    <p>Меня зовут Полина Нечаева. Летом 2022г. я защитила бакалаврскую работу по
                        специальности
                        "Компьютерные технологии управления в робототехнике и мехатронике" в НИУ "МЭИ". В процессе
                        обучения
                        я обнаружила, что написание кода меня увлекает гораздо больше, чем работа связанная с роботами,
                      и я начала параллельное обучение программированию на платформе GeekBrains.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 ml-auto order-2 top-pick" data-aos="fade-up">
                    <h3 class="h3 mb-4">Навыки</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Python</strong>
                                <span class="ml-auto">100%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Django Framework</strong>
                                <span class="ml-auto">92%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92"
                                     aria-valuemin="0"
                                     aria-valuemax="92"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>React</strong>
                                <span class="ml-auto">70%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                     aria-valuemin="0"
                                     aria-valuemax="70"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>Базы данных</strong>
                                <span class="ml-auto">96%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96"
                                     aria-valuemin="0"
                                     aria-valuemax="96"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>HTML5/CSS3</strong>
                                <span class="ml-auto">93%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 93%" aria-valuenow="93"
                                     aria-valuemin="0"
                                     aria-valuemax="93"></div>
                            </div>
                        </li>
                        <li class="mb-3">
                            <div class="d-flex mb-1">
                                <strong>JavaScript</strong>
                                <span class="ml-auto">75%</span>
                            </div>
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                     aria-valuemin="0"
                                     aria-valuemax="75"></div>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="col-md-7 mb-5 mb-md-0 img-top" data-aos="fade-up">
                    <p><img src="{% static '/img/polina.jpg' %}" class="img-about" alt="Image"></p>
                    <p>С момента как я занялась программированием прошло уже порядка 2-х лет, в изучении чего, мне,
                        конечно же,
                        помогли знания из ВУЗа, ведь азы программирования я получила именно там!</p>
                    <p>На сегодняшний день я уже знаю достаточно много, чтобы создавать сайты, а именно: пишу код на
                        Python;
                        умею работать с реляционными базами
                        данных (MySQL); делаю сайты с помощью Django framework; есть опят написания API (REST API с
                        помощью DRF);
                        работаю с HTML, CSS, а так же с JavaScript/JQuery; разворачиваю сайты на сервере с помощью
                        Docker.</p>
                    <p>Наверняка, обычному пользователю интернета, не обладающими знаниями в области IT,
                        данные сова могут ни о чём не говорить, так что, если выражаться коротко и понятно, то могу
                        сказать, что я могу помочь Вам качественно оформить сайт, подобрать дизайн и всегда буду
                        готова ответить на ваши вопросы и учесть все ваши пожелания.</p>
                    <p>На сегодняшний день я все еще продолжаю обучение, каждый день стараюсь узнавать что-то новое.
                        И если передо мной возникает неизвестная задача, я найду способ, чтобы отыскать для нее
                        решение! </p>
                    <p>Если хотите получить короткую сводку о моём образовании и навыках, то скачайте мое портфолио,
                        нажав на кнопку ниже.</p>
                    <p><a href="{% static 'CV.pdf' %}" download="" class="readmore">Скачать портфолио</a></p>
                </div>

            </div>

        </div>
    </div>

</main>
{% endblock %}

